html,
body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}
.dogscroll {
	    margin-top: -18em;
        margin-left: 32em;
}
body {
    background-image: url("https://images.alphacoders.com/288/288213.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    margin: 20px;
    padding: 0px;
    height: 100%;
    width: 100%;
}
.sitterlist {
	    background-color: white;
        opacity: .8;
        margin: 0 20px;
}
.bottomlist {
	border-bottom: .2em solid black;
}
thead, tbody { 
	display: block;
	}
.dogheader {
	font-family: cursive;
	font-size: 2em;
}

 tbody {
    height: 36em;       /* Just for the demo          */
    overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: hidden;  /* Hide the horizontal scroll */
}

.doggy {
height: 1.75em;
    width: 1.75em;
    position: absolute;
   left: 7.5em;
   top: 1em;
}
.dogpic {
	border-radius: 8%;
    border: .2em solid black;
}
.col,
.item {
 padding: 10px;
/*  margin-top: 0; */
  box-sizing: border-box;
/*   background-color: #4E9CAF; */
  text-align: center;
  font-weight: 900;
  position: relative;
  overflow: hidden;
  
}
.wagly{
    font-family: 'Permanent Marker', cursive;
    float: left;
    margin-left: 0.75em;
    font-size: 1.5em;
    position: absolute;
    margin-bottom: 0px;
    margin-top: 0em;
}

.col:nth-child(2n),
.item:nth-child(2n) {
  background-color: rgba(0, 0, 0, 0.14);
}

.button {
	color: yellowgreen;
    display: block;
    width: 115px;
    height: 25px;
    /* background: #4E9CAF; */
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    margin:auto;  /* centers the button */
    color: yellow-green;
     text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
.sad {
	height: 3em;
    width: 4em;
    position: absolute;
    top: 100px;
    right: 10px;
    transition: top 0.65s ease-out;
}

.buttonlogout:hover ~ .sad {
	top: 22px;
}	

logerror {
	color: red;
}

.navbar {
	background: #a2a37a;
	opacity: 0.7;
	display:block;
	border-bottom: 1px solid black;
	top:0;
	left: 0;
	padding:0;
	position: fixed;
	margin: 0 px;
	width: 100%;	
}
a {
font-family: 'Permanent Marker', cursive;
    font-size: 1.5em;
}
.doggysession{
	height: 1.75em;
    width: 1.75em;
    position: absolute;
    margin-left: -5.15em;
    margin-top: 1.0em;
	
}
.waglysession{
    font-family: 'Permanent Marker', cursive;
    float: left;
    margin-left: -.3em;
    font-size: 1.5em;
    position: absolute;
    margin-bottom: 0px;
    margin-top: 0.4em;

}

a:hover{
	font-size: 1.55em;
	color: greenyellow;
	font-weight: bold;
	text-decoration: none;
}

.grid-row {
  display: grid;
  grid-auto-flow: column;
}

#balance{
margin-top: 3%;
}
input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 16%;
}

.form-style-9{
    max-width: 450px;
    background: #FAFAFA;
    padding: 30px;
    margin: 50px auto;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    border: 6px solid #305A72;
}
.form-style-9 ul{
    padding:0;
    margin:0;
    list-style:none;
}
.form-style-9 ul li{
    display: block;
    margin-bottom: 10px;
    min-height: 35px;
}
.form-style-9 ul li  .field-style{
    box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    padding: 8px;
    outline: none;
    border: 1px solid #B0CFE0;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;

}.form-style-9 ul li  .field-style:focus{
    box-shadow: 0 0 5px #B0CFE0;
    border:1px solid #B0CFE0;
}
.form-style-9 ul li .field-split{
    width: 49%;
}
.form-style-9 ul li .field-full{
    width: 100%;
}
.form-style-9 ul li input.align-left{
    float:left;
}
.form-style-9 ul li input.align-right{
    float:right;
}
.form-style-9 ul li textarea{
    width: 100%;
    height: 100px;
}
.form-style-9 ul li input[type="button"], 
.form-style-9 ul li input[type="submit"] {
    -moz-box-shadow: inset 0px 1px 0px 0px #3985B1;
    -webkit-box-shadow: inset 0px 1px 0px 0px #3985B1;
    box-shadow: inset 0px 1px 0px 0px #3985B1;
    background-color: #216288;
    border: 1px solid #17445E;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    padding: 8px 18px;
    text-decoration: none;
    font: 12px Arial, Helvetica, sans-serif;
}
.form-style-9 ul li input[type="button"]:hover, 
.form-style-9 ul li input[type="submit"]:hover {
    background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
    background-color: #28739E;
}
